/attempts/teacherVR/nbproject/private/

/attempts/teacherVR/platforms.json
/attempts/teacherVR/platforms/android/.gradle/
/attempts/teacherVR/platforms/android/.nb-gradle/
/attempts/teacherVR/platforms/android/CordovaLib/build/
/attempts/teacherVR/platforms/android/assets/
/attempts/teacherVR/platforms/android/build/
/attempts/teacherVR/platforms/android/cordova/
/attempts/teacherVR/platforms/android/CordovaLib/
/attempts/teacherVR/platforms/android/gradle/
/attempts/teacherVR/platforms/android/libs/
/attempts/teacherVR/platforms/android/platform_www/
/attempts/teacherVR/platforms/android/res/values/
/attempts/teacherVR/platforms/android/res/xml/
#/not_ignore/attempts/teacherVR/platforms/android/res/
/attempts/teacherVR/platforms/android/src/

/attempts/teacherVR/platforms/android/.gitignore
/attempts/teacherVR/platforms/android/private/
